#imgHome{position:absolute;z-index:-1;overflow: hidden;}
@media (min-width:300px){
   
    #imgHome{height: 320px;width:100%;}
}
@media (max-width:480px){
    /*.headeer{height: 319px;}*/
    #imgHome {height: 645px;}
} 
@media (min-width:960px){
    #imgHome{height: 700px;width:100%;}
}