
.imgHome
    position: absolute
    z-index: -1
    overflow: hidden



@media (min-width:1200px)
    .imgHome
        height: 700px
        width: 100%

@media (min-width:960px)
    .imgHome
        height: 700px
        width: 100%
@media (max-width:480px)

    .imgHome 
        height: 645px

@media (min-width:300px)
    .imgHome
        height: 700px
        width: 100%