.nav{height: 80px;display: flex; justify-content: center;align-items: center;padding-left: 0px;}
.links{color:white!important;}
.titlePage{width: 50%;color:white!important;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;}
.opcOptions {justify-content: space-around;}
@media only screen and (max-width:360px){
    .titlePage{font-size: 1rem;}
    .opcOptions {background-color: #000000b0;margin-top: 32px;padding:10px;}
    
}
@media only screen and (max-width:480px){
    .titlePage{font-size: 1rem;}
    .opcOptions {background-color: #000000b0;margin-top: 32px;padding:10px;}
    
}
@media only screen and (max-width:768px){
    .titlePage{font-size: 1.2rem;}
    .opcOptions {background-color:#000000b0;margin-top: 32px;padding:10px;}
    
}
@media only screen and (min-width:900px){
    .titlePage{font-size: 1.7rem;}
    .opcOptions {background-color:00000000;margin-top: 0px;}
}