.messageHome
    margin-top: 250px
    background-color: #000000b0
    padding: 1rem

.message
    color: white
    font-size: 2rem
    font-weight: bold

.subMessage
    color: white

.footerMessage
    display: flex
    justify-content: center

.enroll
    width: 180px

@media(min-width:300px)
    .messageHome
        margin-top: 150px

@media(min-width:480px)
    .messageHome
        margin-top: 150px

@media(min-width:1200px)
    .messageHome
        margin-top: 250px
