header{background-color: #000000b0;width: 100%;opacity: 7;}
.nav{height: 80px;}
.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%0, 123, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)
}
    

.nav .container{padding-left: 0px!important;}
.footer{background-color: black;color:white;}
footer{padding:0.5em}
.noPadding{padding:0px!important}
.body{background-color: white;}
.empty{position: relative;height:800px;}
.serachContainer{display: flex;background-color: grey;justify-content: center;padding:0.5rem}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color:#C0C0C0;opacity: 1; /* Firefox */} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #C0C0C0;}
::-ms-input-placeholder { /* Microsoft Edge */ color: #C0C0C0;}
@media (max-width:300px){
    .headeer {height: 620px;}
}
@media (max-width:480px){
    .headeer {height: 639px;}
} 
@media (min-width:680px){
    .headeer{height: 500px;}
}   

@media (min-width:980px){
    .headeer{height: 700px;}
    .empty{position: relative;height:200px;}
}
@media  (min-width:1200px){
    .headeer{height: 700px;}
    .empty{position: relative;height:500px;}
}
