.card
    height: 178px
    border: 1px solid white;

.information
    border: 1px solid grey
    display: flex 
    padding: 0px
    height: 174px
 
.bookImg
    position: relative
    width: 100%;
    height: 172px
    

.noPaddingLeft
    width: 120px
    padding: 0px
    background-color: #D8D8D8

.title
    font-size: 1rem
    display: flex
    flex-direction: column

.bookDescription
    text-align: left 
    overflow: hidden

@media (min-width:250) and (max-width:350px)
    .card
        padding: 0px

    .bookImg
        width: 102px

    .noPaddingLeft 
        width: 102px

    .bookDescription 
        overflow: hidden
        height: 59%

@media (min-width:351px) and  (max-width:360px)
    

    .noPaddingLeft 
        width: 35%

@media (min-width:370) and  (max-width:420px)
    .noPaddingLeft 
        width: 145px

    .bookImg
        width: 145px

    .bookDescription
        .author
            font-size: 1rem

@media (min-width:980)
    .bookDescription
        font-size: 0.8rem
        line-height: 12pt

    .bookImg
        width: 120px
    .author
        font-size: 0.7rem

@media (min-width:980)
    .bookDescription
        font-size: 0.8rem
        line-height: 12pt
        
    .bookImg
        width: 120px
    .author
        font-size: 0.7rem
